:root {
  --fonte-primaria: "JetBrains Mono", serif, Arial, sans-serif;
  --fonte-secundaria: "Barlow", serif, Arial, sans-serif;
  --azul-padrao: #035d9d;
  --azul-escuro: #023e6a;
  --azul-sombra: #012641;
  --branco: #fffafa;
  --preto: #000000;
  --cinza: #8c98a8;
  --verde: #6caf9e;
}

body {
  font-family: var(--fonte-secundaria);
}

/* NAVBAR */
.bg-nav {
  background-color: var(--branco);
  width: 100%;
}

.img-logo {
  width: 135px;
  height: 42px;
}

.nav-text {
  font-family: var(--fonte-primaria);
  color: var(--azul-padrao);
  font-size: 1rem;
  font-weight: 600;
}

.navbar-nav .nav-link.active {
  color: var(--verde) !important;
  background-color: transparent;
  font-weight: bold;
}

.nav-link:hover {
  color: var(--verde) !important;
}

/* SECTION 1 */
.section-1 {
  background-image: url(../img/background-section-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container-1 {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 60px;
}

.container-text {
  width: 100%;
  overflow: hidden;
}

.titulo {
  font-family: var(--fonte-primaria);
  color: var(--branco);
  font-size: calc(1.8rem + 2vw);
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid var(--branco);
  display: inline-block;
  animation: typing 2s steps(9, end), blink 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: calc(8ch);
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.img-computador,
.avatar-jb {
  max-width: 100%;
  height: auto;
}

.paragrafo {
  font-weight: 600;
  font-size: calc(1rem + 0.3vw);
  color: var(--branco);
  text-align: justify;
}

/* SECTION 2 */
.section-2 {
  display: flex;
  justify-content: space-between;
}

.banner-sobre {
  background-image: url(../img/Polygon\ Luminary.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.subtitulo {
  font-family: var(--fonte-primaria);
  color: var(--azul-padrao);
  font-size: 1.5rem;
}

.icon-stack {
  list-style: none;
}

.img-stacks {
  width: 50px;
  height: auto;
}

.logo-boot {
  background-color: transparent;
}

/* BANNER */
.banner {
  background-image: url(../img/background-contato.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

#textArea {
  min-height: 130px;
  resize: vertical;
}

.btn-padrao {
  background-color: var(--azul-padrao);
  color: var(--branco);
  transition: background-color 0.3s ease;
}

.btn-padrao:hover {
  background-color: var(--verde);
  color: var(--branco);
}

/* FOOTER */
.text-footer {
  color: var(--azul-escuro);
  font-family: var(--fonte-primaria);
}

.bi-envelope,
.sociais {
  color: var(--azul-padrao);
}

.bi-envelope {
  font-size: 25px;
}

.sociais {
  font-size: 1.5rem;
}

.icon-sociais {
  color: var(--preto);
  font-size: 1.3rem;
  transition: color 0.3s ease;
}

.icon-sociais:hover {
  color: var(--azul-padrao);
}

/* OUTROS */
.card-img-top {
  border-bottom: 2px solid #5e5e5e;
}

.img-tec {
  width: 30px;
  height: auto;
}

.box-h3 {
  font-size: 1.5rem;
  color: var(--azul-padrao);
}

.email {
  font-family: var(--fonte-primaria);
  font-size: 1rem;
  margin: 0 !important;
}

.texto-solucao {
  max-width: 100%;
  font-size: 1.5rem;
  text-align: justify;
}

input[type="checkbox"] {
  border: 1px solid var(--azul-sombra);
  box-shadow: none;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:focus {
  background-color: var(--azul-padrao);
  border-color: var(--azul-padrao);
  box-shadow: none;
  outline: none;
  cursor: pointer;
}

[data-bs-theme="dark"] {
  color: white;
}

[data-bs-theme="dark"] .nav-link,
[data-bs-theme="dark"] .card-body,
[data-bs-theme="dark"] .offcanvas,
[data-bs-theme="dark"] .accordion,
[data-bs-theme="dark"] .btn {
  --bs-nav-link-color: white;
  --bs-card-color: white;
  --bs-body-color: white;
  --bs-offcanvas-color: white;
}

[data-bs-theme="dark"] .icon-sociais {
  color: var(--branco);
}
/* ANIMAÇÕES */
.animated-border {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  filter: drop-shadow(0 0 2px #00c6ff) drop-shadow(0 0 5px #035d9d)
    drop-shadow(0 0 8px #00c6ff);
  animation: border-pulse 2s infinite;
  overflow: hidden;
}

@keyframes border-pulse {
  0% {
    filter: drop-shadow(0 0 4px #00c6ff) drop-shadow(0 0 7px #035d9d)
      drop-shadow(0 0 10px #00c6ff);
  }
  50% {
    filter: drop-shadow(0 0 7px #035d9d) drop-shadow(0 0 10px #00c6ff)
      drop-shadow(0 0 12px #035d9d);
  }
  100% {
    filter: drop-shadow(0 0 4px #00c6ff) drop-shadow(0 0 7px #035d9d)
      drop-shadow(0 0 10px #00c6ff);
  }
}

.sombra {
  --bs-bg-opacity: 0.1;
}

@media (max-width: 480px) {
  .sociais,
  .icon-sociais {
    font-size: 1.1rem;
  }
  .texto-solucao {
    font-size: 1.2rem;
  }
}