:root {
  --fonte-primaria: "JetBrains Mono", serif, Arial, sans-serif;
  --fonte-secundaria: "Barlow", serif, Arial, sans-serif;
  --azul-padrao: #035d9d;
  --azul-escuro: #023e6a;
  --azul-sombra: #012641;
  --branco: #fffafa;
  --preto: #000000;
  --cinza: #8c98a8;
  --verde: #6caf9e;
}

body {
  font-family: var(--fonte-secundaria);
}

.bg-nav {
  background-color: var(--branco);
  width: 100%;
}

.img-logo {
  width: 135px;
  height: 42px;
}

.nav-text {
  font-family: var(--fonte-primaria);
  color: var(--azul-padrao);
  font-size: 1rem;
  font-weight: 600;
}

.navbar-nav .nav-link.active {
  color: var(--verde) !important;
  background-color: transparent;
  font-weight: bold;
}

.nav-link:hover {
  color: var(--verde) !important;
}

.section-1 {
  background-image: url(../img/background-section-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* min-height: 90vh; */
}

.container-1 {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 60px;
}

.container-text {
  width: 100%;
  overflow: hidden; /* Garante que o texto fique dentro do container */
}

.titulo {
  font-family: var(--fonte-primaria);
  color: var(--branco);
  font-size: calc(1.8rem + 2vw);
  white-space: nowrap;
  overflow: hidden; /* Evita quebra de linha */
  border-right: 2px solid var(--branco); /* Simula o cursor piscante */
  display: inline-block; /* Importante para o cálculo do tamanho */
  animation: typing 2s steps(9, end), blink 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: calc(8ch); /* Define o tamanho exato do texto em caracteres */
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.img-computador {
  max-width: 100%;
  height: auto;
}

.avatar-jb {
  max-width: 100%;
  height: auto;
}

.paragrafo {
  font-weight: 600;
  font-size: calc(1rem + 0.3vw);
  color: var(--branco);
}

.section-2 {
  display: flex;
  justify-content: space-between;
}

.banner-sobre {
  background-image: url(../img/Polygon\ Luminary.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.subtitulo {
  font-family: var(--fonte-primaria);
  color: var(--azul-padrao);
  font-size: 1.5rem;
}

.icon-stack {
  list-style: none;
}

.img-stacks {
  width: 50px;
  height: auto;
}

.logo-boot {
  background-color: transparent;
}

.banner {
  background-image: url(../img/background-contato.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

#textArea {
  min-height: 130px;
  resize: vertical;
}

.btn-padrao {
  background-color: var(--azul-padrao);
  color: var(--branco);
}

.btn-padrao:hover {
  background-color: var(--verde); /* Destaca no hover */
  color: var(--branco); /* Mantém o contraste */
  transition: background-color 0.3s ease;
}

.card-img-top {
  border-bottom: 2px solid #5e5e5e;
}

.img-tec {
  width: 30px;
  height: auto;
}

.text-footer {
  color: var(--azul-escuro);
  font-family: var(--fonte-primaria);
}

.bi-envelope {
  color: var(--azul-padrao);
  font-size: 25px;
}

.sociais {
  color: var(--azul-padrao);
  font-size: 1.5rem;
}

.icon-sociais {
  color: var(--preto);
  transition: color 0.3s ease; /* Adicione transição */
  font-size: 1.3rem;
}

.icon-sociais:hover {
  color: var(--azul-padrao);
}

.box-h4 {
  font-size: 1.875rem;
  color: var(--azul-padrao);
}

.email {
  font-family: var(--fonte-primaria);
  font-size: 1.121rem;
}

.texto-solucao {
  max-width: 100%;
  font-size: 1.5rem;
  text-align: justify;
}

.box-sociais {
  font-size: 2rem;
}
/*
@media (max-width: 768px) {

  /* .container-text {
    width: 100%;
  }

  .img-computador {
    width: 100%;
  }

  .box-h3 {
    font-size: 1.2rem; 
  }

  .titulo {
    font-size: 2rem; 
  } 
    }*/

input[type="checkbox"] {
  border: 1px solid var(--azul-sombra);
  box-shadow: none;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:focus {
  background-color: var(--azul-padrao);
  border-color: var(--azul-padrao);
  box-shadow: none;
  outline: none;
  cursor: pointer;
}

[data-bs-theme="dark"] {
  color: white;
  .nav-link,
  .card-body,
  .offcanvas,
  .accordion,
  .btn {
    --bs-nav-link-color: white;
    --bs-card-color: white;
    --bs-body-color: white;
    --bs-offcanvas-color: white;
    --bs-body-color: white;
  }
}
